<h1>Listing selections</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Place</th>
    <th>Category</th>
  </tr>

<% @selections.each do |selection| %>
  <tr>
    <td><%= selection.date_created %></td>
    <td><%= selection.place.name %></td>
    <td><%= selection.place.category.name %></td>
  </tr>
<% end %>
</table>

<br />
